@model WebBiopelagos.Web.Models.AnalysisBase

@{
    ViewData["Title"] = "Détails";
}

<h2>@ViewData["Title"] - Analyses</h2>
<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>
<p><a asp-area="" asp-action="Index"><input type="submit" value="Retour vers les analyses" /></a></p>
<h3>Campagne Wallalis</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnalysisBaseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnalysisBaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleBaseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SampleBaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TissueTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TissueType.TissueTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnalysisTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnalysisType.AnalysisTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnalysisDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnalysisDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnalyserStaff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnalyserStaff.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LaboratoryLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaboratoryLocation.LocationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retour</a>
</div>
