@model IEnumerable<WebBiopelagos.Web.Models.AnalysisBase>

@{
    ViewData["Title"] = "Analyses";
}

<h2>Analyses</h2>
<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>


<h3>Campagne Wallalis</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleBaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisBaseId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TissueTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AnalyserStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaboratoryLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleBaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisBaseId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TissueType.TissueTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisType.AnalysisTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AnalyserStaff.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratoryLocation.LocationName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AnalysisBaseId">Détails</a> |
                <a asp-controller="AnalysisQuantities" asp-route-AnalysisId="@item.AnalysisBaseId">Quantité</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>
<p><a asp-area="" asp-controller="Fish" asp-action="Index"><input type="submit" value="Retour vers les espèces" /></a></p>
