@model IEnumerable<WebBiopelagos.Web.Models.SetBiologicalZooplankton>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepthMinM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepthMaxM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepthNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeFilteredM3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetBase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepthMinM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepthMaxM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepthNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeFilteredM3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetBase.GearId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SetZooplanktonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SetZooplanktonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SetZooplanktonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
