@model IEnumerable<WebBiopelagos.Web.Models.SampleBase>

@{
    ViewData["Title"] = "Echantillons";
}

<h2>@ViewData["Title"]</h2>
<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>
<h3>Campagne Wallalis</h3>

<p><a asp-area="" asp-controller="Fish" asp-action="Index"><input type="submit" value="Retour vers les espèces" /></a></p>

<p>
    <a asp-area="" asp-controller="SampleBases" asp-action="">
        <input type="submit" value="Voir toutes les données" />
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fish.FishId) associée
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleBaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleNo)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.PriceUsd)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.IsLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDiscarded)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsPendingAnalysis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnalyzed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityStaffId)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.LastLocationId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LocationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.IsTransfered)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.InventoryLocationIdOld)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreezerLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnershipLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageQualityCondition)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Tissue)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TissueCondition)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TissueNavigation)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TissuePosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TissueType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-controller="Fish" asp-action="Index" asp-route-FishId="@item.Fish.FishId">@Html.DisplayFor(modelItem => item.Fish.FishId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fish.FishNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleBaseId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SampleNo)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PriceUsd)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.IsLost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDiscarded)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsPendingAnalysis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnalyzed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryStaff.FullName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.LastLocationId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LocationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.IsTransfered)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.InventoryLocationIdOld)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreezerLocation.FreezerLocationDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryLocation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryStaff.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnershipLocation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageQuality.StorageQualityDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageQualityCondition.StorageConditionId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Tissue.TissueConditionId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TissueCondition.TissueConditionDesc)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TissueNavigation.TissuePositionId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TissuePosition.TissuePositionDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TissueType.TissueTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.SampleBaseId">Détails</a>
            </td>
        </tr>
        }
    </tbody>
</table>
