@model WebBiopelagos.Web.Models.Fish

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Espèces</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SetBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetBaseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishType.FishTypeDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Species.ScientificName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SamplingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SamplingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnershipId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnershipId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TmpId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TmpId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditorStaff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditorStaff.FullName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex.SexId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Species.ScientificName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retour</a>
</div>
