@model IEnumerable<WebBiopelagos.Web.Models.Fish>

@{
    ViewData["Title"] = "Espèces";
}

<h2>@ViewData["Title"]</h2>
<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>


<h3>Campagne Wallalis</h3>
<p><a asp-area="" asp-controller="SetBases" asp-action="Index"><input type="submit" value="Retour vers les stations" /></a></p>

<p>
    <a asp-area="" asp-controller="Fish" asp-action="">
        <input type="submit" value="Voir toutes les données" />
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SamplingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnershipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SamplingDate)
            </td>
            <td>
                <a asp-controller="SetBases" asp-action="Index" asp-route-setBaseId="@item.SetBase.SetBaseId">@Html.DisplayFor(modelItem => item.SetBase.SetBaseId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishType.FishTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species.ScientificName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FishNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnershipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorStaff.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex.SexDesc)
            </td>
            <td>
                | <a asp-action="Details" asp-route-FishId="@item.FishId">Détails</a> |
                <a asp-controller="SampleBases" asp-route-FishId="@item.FishId">Echantillons</a>

            </td>
        </tr>
        }
    </tbody>
</table>

<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>
<p><a asp-area="" asp-controller="SetBases" asp-action="Index"><input type="submit" value="Retour vers les stations" /></a></p>
