@model WebBiopelagos.Web.Models.AnalysisQuantity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnalysisQuantity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantityValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantityUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubAnalysisType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubAnalysisType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Analysis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Analysis.AnalysisTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retour</a>
</div>
