@model IEnumerable<WebBiopelagos.Web.Models.AnalysisQuantity>

@{
    ViewData["Title"] = "Quantité";
}

    <h2>@ViewData["Title"]</h2>

<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>


<h3>Campagne Wallalis</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisBaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubAnalysisType)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-controller="AnalysisBases" asp-action="Index" asp-route-AnalysisId="@item.AnalysisBaseId">@Html.DisplayFor(modelItem => item.AnalysisBaseId)</a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisType.AnalysisTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubAnalysisType)
            </td>
            <td>
                <a asp-action="Details" asp-route-QuantityId="@item.AnalysisBaseId">Détails</a>
            </td>
        </tr>
        }
    </tbody>
</table>
