@model WebBiopelagos.Web.Models.SetBase

@{
    ViewData["Title"] = "Détails";
}


<h2>@ViewData["Title"] - Opérations</h2>
<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>
<p><a asp-area="" asp-action="Index"><input type="submit" value="Retour vers les opérations" /></a></p>
<h3>Campagne Wallalis</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SetBaseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetBaseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SetDateLocal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetDateLocal)
            @Html.DisplayFor(model => model.SetTimeLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetNo)
            @Html.DisplayFor(model => model.SetBiological.StationNo)


        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LatitudeDec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LatitudeDec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LongitudeDec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongitudeDec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayNight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayNight.DayNightId)
            @Html.DisplayFor(model => model.SetBiological.DayNightId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gear.GearDesc)
        </dd>
        <dt>
            Profondeur
        </dt>
        <dd>
            @*Trouver comment coder la temperature max*@
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.SetBaseId">Edit</a> |*@
    <a asp-action="Index">Retour</a>
</div>
