@model IEnumerable<WebBiopelagos.Web.Models.SetBase>

@{
    ViewData["Title"] = "Opérations";
}

<h2>@ViewData["Title"]</h2>
<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>
<h3>Campagne Wallalis</h3>

<p>
    <a asp-area="" asp-controller="SetBases" asp-action="">
        <input type="submit" value="Voir toutes les données" />
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetBaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetNo)
            </th>
            <th>
                N° Station
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatitudeDec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongitudeDec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gear)
            </th>
            <th>
                Profondeur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SetDateLocal)
                @Html.DisplayFor(modelItem => item.SetTimeLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetBaseId)
            </td>

            <td>
                @if (item.GearId == "K")
                {
                @Html.DisplayFor(modelItem => item.SetBiological.BioSetNo)
                                }
                else
                {
                @Html.DisplayFor(modelItem => item.SetNo)
                }
            </td>
            <td>
                @if (item.GearId == "K")
                {
                @Html.DisplayFor(modelItem => item.SetBiological.StationNo)
                }
                else {
                @:WAL
                @if (item.SetNo.ToString().Length == 3)
                {
                @item.SetNo.ToString().Substring(1,2)
                }
                else{
                @item.SetNo.ToString().Substring(2,2)
                }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatitudeDec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudeDec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayNightId)
                @Html.DisplayFor(modelItem => item.SetBiological.DayNightId)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gear.GearDesc)
            </td>
            <td>
                @*Trouver comment coder la temperature max*@
            </td>
            <td>
                | <a asp-action="Details" asp-route-id="@item.SetBaseId">Détails</a> |
                <a asp-controller="Fish" asp-route-setBaseId="@item.SetBaseId">Espèces</a>


            </td>
        </tr>
}
    </tbody>
</table>

<p><a asp-area="" asp-controller="Home" asp-action="Index"><input type="submit" value="Retour vers l'accueil" /></a></p>